body{
  font-size: 20px;
  padding-left: 20px;
  text-decoration-style: wavy;
  background-color: grey;
  font-family:Impact; font-size: 22px;
  background-image: url(IMG_20170524_042122.jpg);
  background-size: cover;
  background-blend-mode:soft-light;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;

}

li {
  float:left;
    /*padding-left: : 100px;
  padding-right: 50px;
  align-items: center;*/
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    transform: scale(1.5);
    border: 2px solid red;
    border-radius: 5px;
    background-color: #333;
}

li a:active{
  background-color: black;
}

#Abtme {
  display:block;

}
